.publications-container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    text-align: left;
}
  
.publications-container .publications-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
  
.publications-container .publications-grid .publication {
    text-align: left;
}

.publication h2 {
    margin-bottom: 10px;
}

.publication-link {
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out;
    
    &:hover {
        color: #5000ca;
        text-decoration: underline;
    }
}

.publication h2:hover {
    text-decoration: none;
}

.publication-authors {
    font-style: italic;
    color: #888;
    margin-top: 10px;
    margin-bottom: 10px;
}

.publication-description {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.publication-links {
    margin-top: 15px;
}

.paper-link {
    color: #5000ca;
    text-decoration: none;
    font-weight: 500;
    transition: color .15s ease-in-out;
    
    &:hover {
        color: #6a1bd4;
        text-decoration: underline;
    }
}
  
.zoom {
    border-radius: 5px;
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.05);
}

@media screen {
    @media (max-width: 700px) {
        .publications-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }
  
        .publications-container .publications-grid {
            display: block;
        }
      
        .publications-container .publications-grid .publication {
            padding-bottom: 5%;
        }
    }
}

